{% extends 'base.html' %}

{% block 'conteudo' %}

<div class="container">
    <br>
    {% if satatus_categoria == '1' %}    
        <div class="alert alert-success" role="alert">
           Categoria cadastrada com sucesso !
        </div>
    {% endif %}    

    <div class="row">
    
        {% for book in livros %}
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                <img width="100%" src="{{book.img.url}}">
                        <h5 class="card-title">{{book.nome}}</h5>
                        {% if book.emprestado %}
                            <svg style="color:red ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-x-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM6.854 5.146a.5.5 0 1 0-.708.708L7.293 7 6.146 8.146a.5.5 0 1 0 .708.708L8 7.707l1.146 1.147a.5.5 0 1 0 .708-.708L8.707 7l1.147-1.146a.5.5 0 0 0-.708-.708L8 6.293 6.854 5.146z"/>
                            </svg>
                             Indisponível
                        {% else %}
                        <svg style="color: green ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                          </svg>
                            Disponível 
                        {% endif %} 
                        <br>
                        <br>
                        <a  href="{% url 'ver_livros' book.id %}" class="btn btn-info"> Acessar </a>
                    </div>
                  </div>
                <!--{{livro}} aprendi a fazer comentario -->
            </div>    
        {% endfor %}
        
    </div>
</div>

{% endblock%}